<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</header>
<body>
    <!-- <br>
    <h1 class="text-white">CRUD</h1> -->
    <br>
    <br>
  <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <div class="col-12" style="margin: auto auto;" *ngIf="!isShown" id="divshow">
              <app-registrar-empresa (emitirRegistro)="this.obtenerEmpresas()"></app-registrar-empresa>
          </div>
          <div class="col-12" style="margin: auto auto;" *ngIf="isShown" id="divshow">
              <app-actualizar-empresa (emitirActualizacion)="this.restableceRegistro()" [idEmpresa]="idEmpresa"></app-actualizar-empresa>
          </div>
        </div>
        <div class="col-8">
              <div class="card mt-5 ">
                  <div class="card-header text-black" >Tabla Empresas
                    <!-- <button (click)="toggleShow()" type="button" class="b3" style="float: right;">Actualizar</button> -->
                  </div>
                  <div class="card-header">
                    <div class="container h-100">
                      <div class="d-flex justify-content-center h-100">
                        <div class="searchbar">
                          <input class="search_input" type="text" name="" [(ngModel)]="searchText" placeholder="Search...">
                          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table text-black">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Razon Social</th>
                          <th scope="col">RFC</th>
                          <th scope="col">Direccion</th>
                          <th scope="col">Pais</th>
                          <th scope="col">Logo</th>
                          <th scope="col">Actualizar</th>
                          <th scope="col">Eliminar</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider text-black">
                        <tr *ngFor="let empresa of empresas | filter:searchText; let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{empresa.strNombre}}</td>
                          <td>{{empresa.strRazonSocial}}</td>
                          <td>{{empresa.strRFC}}</td>
                          <td>{{empresa.strDireccion}}</td>
                          <td>{{empresa.strPais}}</td>
                          <td><button (click)="logo(empresa.strUrlLogo, empresa.strNombre, empresa.strRazonSocial)" class="b3" type="button"><i class="bi bi-images"></i></button></td>
                          <td><button (click)="toggleShow(empresa._id)" class="b1" type="button"><i class="bi bi-pencil-square"></i></button></td>
                          <td><button (click)="eliminar(empresa)" class="b2" type="button"><i class="bi bi-trash3-fill"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
          </div>
        </div>
      </div>
  
  </body>