@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

body {
  background-color: #ffc58f;
}

/* h1
{
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
} */

.spinner {
  height: 50px;
  width: max-content;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1em;
  color: #000000;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span {
  animation: loading6454 1.75s ease infinite;
}

.spinner span:nth-child(2) {
  animation-delay: 0.25s;
}

.spinner span:nth-child(3) {
  animation-delay: 0.5s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.75s;
}

.spinner span:nth-child(5) {
  animation-delay: 1s;
}

.spinner span:nth-child(6) {
  animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes loading6454 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


.searchbar:hover > .search_icon {
  background: rgb(255, 0, 0);
  color: #00ccff;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgb(0, 247, 255);
  text-decoration: none;
}

.card-header {
  background-image: linear-gradient(163deg, #e42424 0%, #e42424 100%);
  text-align: center;
  font-size: 25px;
}
.card {
  background: transparent;
  border: 2px solid #000000;
  box-shadow: 2px 2px 15px #000000 inset;
}
/* From uiverse.io */

/*Button 1*/

button.b1 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(9, 255, 0);
  background-color: rgb(0, 0, 0);
  border: none;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


button.b1:active {
  transform: translateY(-1px);
}

/*Button 2*/

button.b2 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(9, 255, 0);
  background-color: rgb(0, 0, 0);
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}


button.b2:active {
  transform: translateY(-1px);
}

/*Button 3*/

button.b3 {
  padding: 1em 1em;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(9, 255, 0);
  background-color: rgb(0, 0, 0);
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}




@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button.b3:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
