<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
</style>
<body>
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/images.jpg" />
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>The new side of the music</h1>
              <p>
                Loved by tourists, but also by electronic music purists, 
                Daft Punk is the French duo that took electronic music out of the underground world and made it a legend.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://garajedelrock.com/articulos/daft-punk-un-viaje-cosmico-a-traves-de-la-historia-y-la-musica-de-los-robots-de-la-electronica/"
                  target="_blank"
                  >More About Daft Punk</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/robert.webp" />
          <div class="container">
            <div class="carousel-caption">
              <h1>My favorite character in movies</h1>
              <p>
                –Acting is always a challenge–
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www.negociosyemprendimiento.org/2020/12/historia-robert-downey-jr.html"
                  target="_blank"
                  >More About Robert Downey Jr.</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/artificial.jpg" /> 
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Artificial Intelligence</h1>
              <p>
                Artificial intelligence (AI) is the foundation from which human intelligence processes 
                are mimicked by creating and applying algorithms created in a dynamic computing environment.
              </p>
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  href="https://www.netapp.com/es/artificial-intelligence/what-is-artificial-intelligence/"
                  >More About Artificial Intelligence</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row" id="row">
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/tierra.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Despues de la tierra </h5>
              <p class="card-text">Favorite Movie: #1</p>
              <a href="#" class="btn btn-primary">More About Movie</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/karate.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Karate Kid</h5>
              <p class="card-text">Favorite Movie: #2</p>
              <a href="#" class="btn btn-primary">More About Movie</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div class="card" style="width: 18rem">
            <img src="../assets/img/rapido.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Fast and Furious</h5>
              <p class="card-text">Favorite Movie: #3</p>
              <a href="#" class="btn btn-primary">More About Movie</a>
            </div>
          </div>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <!-- FOOTER -->
    <footer class="container">
      <button type="button" class="btn btn-warning float-end">
        <a class="btn" href="#">Back to top</a>
      </button>
      <br />
      <p>&copy; 2020–2022 UTMA, Inc.</p>
    </footer>
  </main>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
