.card-header {
  background-image: linear-gradient(163deg, #e42424 0%, #e42424 100%);
  text-align: center;
  font-size: 25px;
}
.card {

  background: transparent;
  border: 2px solid #000000;
  box-shadow: 2px 2px 15px #000000 inset;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* Button 4 */
button.b4 {
  --color: #000000;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 button.b4:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button.b4:hover {
  color: rgb(0, 255, 255);
 }
 
 button.b4:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button.b4:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button.b4:active:before {
  background: #000000;
  transition: background 0s;
 }
/*Button 5*/

button.b5 {
  --color: #000000;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 button.b5:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button.b5:hover {
  color: rgb(0, 255, 255);
 }
 
 button.b5:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button.b5:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button.b5:active:before {
  background: #000000;
  transition: background 0s;
 }